alembic
aniso8601
attrs
bcrypt
blinker
certifi
charset-normalizer
click
defusedxml
exceptiongroup
Faker
Flask
Flask-Bcrypt
Flask-Cors
Flask-JWT-Extended
Flask-Mail
Flask-Migrate
Flask-RESTful
flask-restx
Flask-SQLAlchemy
flask-swagger-ui
gevent
greenlet
gunicorn
httpie
idna
importlib-metadata
importlib-resources
iniconfig
itsdangerous
Jinja2
jsonschema
jsonschema-specifications
Mako
markdown-it-py
MarkupSafe
mdurl
multidict
packaging
pkgutil_resolve_name
pluggy
psycopg2-binary
Pygments
PyJWT
pyrsistent
PySocks
pytest
python-dateutil
pytz
referencing
requests
requests-toolbelt
rich

six
SQLAlchemy
SQLAlchemy-serializer
tomli
typing_extensions
urllib3
Werkzeug
zipp
zope.event
zope.interface
